.about_me_container {
    color: white;
    position: relative;
    display: flex;
    height: calc(100vh - 100px);
    padding-top: 100px;
    letter-spacing: 0;

    @media screen and (orientation:landscape) and (max-width: 1023px) {
        height: calc(200vh - 100px);
    }


    h2 {
        font-size: 80px;

        @media screen and (max-width: 1750px) {
            font-size: 60px;
            margin: 0;
        }

        @media screen and (max-width: 750px) {
            font-size: 50px;
        }

        @media screen and (max-width: 420px) {
            font-size: 40px;
        }

        @media screen and (max-height: 570px) {
            font-size: 30px;
        }

        @media screen and (max-height: 400px) {
            font-size: 10px;
        }

        @media screen and (max-width: 320px) {
            font-size: 20px;
        }
    }

    span {
        font-size: 20px;

        @media screen and (max-width: 1750px) {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}


.slide_img {
    position: absolute;
    width: 100%;
    height: 100% !important;
    bottom: -80%;
    height: 1500px;
    object-fit: fill;

    @media screen and (max-width: 1024px) {
        bottom: -44%;
    }

    @media screen and (max-width: 1010px) and (max-height:1370px) {
        bottom: -38%;
    }

    @media screen and (width: 428px) and (height: 926px) {
        bottom: -20% !important;
    }

    @media screen and (max-width: 800px) {
        bottom: -35%;
    }

    @media screen and (max-width: 730px) {
        bottom: -21%;
    }

    @media screen and (max-width: 950px) and (min-width:800px) and (max-height:1280px) and (min-height:1024px) {
        bottom: -36%;
    }

    @media screen and (max-height:1112px) and (min-height:1024px) and (max-width:834px) and (min-width:688px) {
        bottom: -28%;
    }

    @media screen and (max-width: 1440px) and (min-width:1280px) and (max-height:900px) and (min-height: 800px) {
        bottom: -26%;
    }

    @media screen and (max-width: 1440px) and (min-width:1024px) and (max-height:950px) and (min-height: 800px) {
        bottom: -79%;
    }

    @media screen and (max-width: 600px) and (max-height:960px) {
        bottom: -24%;
    }

    @media screen and (max-width: 414px) and (max-height:846px) {
        bottom: -29.5%;
    }

    @media screen and (max-width: 414px) and (max-height:740px) {
        bottom: -10%
    }

    @media screen and (max-width: 414px) and (max-height:764px) {
        bottom: -20%;
    }

    @media screen and (max-width: 360px) and (max-height:640px) {
        bottom: -9%
    }
}


.abt_me_imgs {

    @media screen and (max-width: 1024px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.absolute {
    position: absolute;
    bottom: 1%;
    width: 30% !important;
    right: 15%;

    @media screen and (max-height:1050px) {
        width: 20% !important;
    }

    @media screen and (max-height:800px) {
        width: 10% !important;
    }

    @media screen and (max-height:400px) {
        width: 5% !important;
    }

    @media screen and (max-width: 2000px) {
        bottom: -2%;
    }

    @media screen and (max-width: 1024px) {
        position: unset;
        margin-bottom: -20px;
        bottom: 48%;
        right: 33%;
        width: 50% !important;
    }

    @media screen and (max-width: 1024px) and (max-height:600px) {
        width: 20% !important;
    }

    @media screen and (max-width: 655px) {
        bottom: 80%;
    }

    @media screen and (max-width: 950px) and (min-width:800px) and (max-height:1280px) and (min-height:1112px) {
        right: 35%;
        bottom: 52%;
    }

    @media screen and (height:800px) and (width:1024px) {
        position: absolute !important;
    }

    @media screen and (max-height:1112px) and (min-height:1024px) and (max-width:834px) and (min-width:688px) {
        right: 38%;
        bottom: 58%;
        width: 34% !important;
    }

    @media screen and (max-width: 1440px) and (min-width:1024px) and (max-height:950px) and (min-height: 800px) {
        right: 10%;
        bottom: 3%;
        width: 35% !important;
    }

    @media screen and (max-width: 1023px) and (max-height:926px) {
        right: 30% !important;
        bottom: 56% !important;
        width: 42% !important;
    }

    @media screen and (max-width: 1023px) and (max-height:846px) {
        right: 36% !important;
        bottom: 63% !important;
        width: 50% !important;
    }

    @media screen and (max-width: 367px) and (max-height:770px) {
        right: 36% !important;
        bottom: 67% !important;
        width: 29% !important;
    }

    @media screen and (max-width: 414px) and (max-height:765px) {
        bottom: 59% !important;
        width: 36% !important;
    }

    @media screen and (max-width: 400px) and (max-height:765px) {
        bottom: 61% !important;
        width: 40% !important;
        right: 42% !important;
    }

    @media screen and (max-width: 360px) and (max-height:640px) {
        bottom: 68% !important;
        width: 18% !important;
    }

}


.purple_img {
    position: absolute;
    bottom: 12%;
    width: 24% !important;
    right: 26%;
    z-index: -1;

    @media screen and (max-width: 1025px) {
        width: 45% !important;
        right: 44%;
        bottom: 43%;
    }



    @media screen and (max-width: 730px) {
        bottom: 58%;
    }

    @media screen and (max-height: 801px) and (min-height: 799px) and (max-width: 1025px) {
        width: 28% !important;
        right: 23%;
        bottom: 21%;
    }

}

.green_img {
    position: absolute;
    width: 24% !important;
    z-index: -1;
    right: 6%;
    bottom: 14%;

    @media screen and (max-width: 1025px) {
        width: 41% !important;
        right: 7%;
        bottom: 56%;
    }

    @media screen and (max-width: 730px) {
        bottom: 64%;
    }

    @media screen and (max-height: 801px) and (min-height: 799px) and (max-width: 1025px) {
        width: 25% !important;
        right: 2%;
        bottom: 27%;
    }
}



.abt_me_info {
    padding-top: 40px;
    gap: 30px;
    display: flex;

    img {
        transition: 222ms;

        &:hover {
            transform: scale(1.2);
        }

        @media screen and (max-width: 500px) {
            width: 40px;
        }

        @media screen and (max-width: 400px) {
            width: 20px;
        }

        @media screen and (max-height: 800px) {
            width: 26px;
        }
    }

    @media screen and (max-width: 800px) {
        padding-top: 10px;
        gap: 20px;
    }

    @media screen and (max-width: 500px) {
        padding-top: 10px;
        gap: 10px;
    }

    @media screen and (max-width: 420px) {
        padding-top: 5px;
        gap: 10px;
    }
}


.abt_left_conatiner {
    z-index: 1;
    padding-left: 120px;
    padding-right: 120px;
    max-width: 50%;

    span {
        display: flex;
    }

    @media screen and (max-width: 1440px) and (min-width:1024px) and (max-height:950px) and (min-height: 800px) {
        max-width: 500px !important;
    }

    @media screen and (max-width: 1024px) {
        max-width: max-content;
    }

    @media screen and (max-width: 1200px) {
        span {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 700px) {
        padding-right: 60px;
        padding-left: 60px;
    }

    @media screen and (max-width: 500px) {
        padding-right: 30px;
        padding-left: 30px;

        span {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 420px) {
        padding-right: 15px;
        padding-left: 15px;

        span {
            font-size: 12px;
        }
    }

    @media screen and (max-width: 400px) {


        span {
            font-size: 11px;
        }
    }

    @media screen and (max-height:800px) {
        span {
            font-size: 12px;
        }
    }

    @media screen and (max-height: 610px) {
        span {
            font-size: 9px;
        }
    }

    @media screen and (max-width: 320px) {
        span {
            font-size: 10px;
        }

    }
}