$color-blue: #1CDAE6;
$color-darkblue: #141D2F;
$color-darkblue-transparent: #141d2fcc;
$color-purple: #9747FF;
$color-purple2: #4B47FF;
$button-blue: #00BEE8;

$media-query-w2100: 2100px;
$media-query-w1750: 1750px;

.intro_container {
    overflow-x: hidden;
    padding-top: 100px;
    min-height: calc(100vh - 100px);
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.blob_countainer {
    display: flex;
    justify-content: center;
}

.right {
    position: absolute;
    right: 0;

    @media screen and (max-width: 700px) {
        bottom: 0;
    }

    @media screen and (max-width: 700px) {
        height: 650px;
    }

    @media screen and (max-width: 500px) {
        height: 500px;
    }
}

.left {
    position: absolute;
    left: 0;

    @media screen and (max-width: 700px) {
        height: 550px;
        max-width: 300px;
    }

    @media screen and (max-width: 500px) {
        height: 438px;
    }
}

.intro_span_container {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    button {
        position: absolute;
        background-color: $button-blue;
        width: 160px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        transition: 222ms;
        margin-top: 350px;

        &:hover {
            border-radius: 12px;
            font-size: 22px;
            width: 170px;
            height: 60px;
            background-color: $color-purple2;
        }

        @media screen and (max-width: 700px) {
            width: 150px;
            height: 44px;
            font-size: 18px;
            margin-top: 180px;
        }
    }

    @media screen and (max-width: 700px) {
        height: 500px;
    }

    @media screen and (max-width: 400px) {
        height: 280px;
    }

    h1 {
        font-size: 110px;
        margin: 0;
        text-shadow: 3px -3px rgba(0, 0, 0, 1) !important;

        @media screen and (max-width: $media-query-w1750) {
            font-size: 90px;
        }

        @media screen and (max-width: 1050px) {
            font-size: 70px;
        }

        @media screen and (max-width: 850px) {
            font-size: 55px;
            text-shadow: 2px -2px rgba(0, 0, 0, 1) !important;
        }

        @media screen and (max-width: 700px) {
            font-size: 42px;
        }

        @media screen and (max-width: 500px) {
            font-size: 28px;
        }
    }


}

.intro_name_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.intro_end_container {
    z-index: 1;

    @media screen and (max-width: 700px) {
        img {
            width: 80px;
        }

        .icon_for_mobile0 {
            width: 30px;
            left: 90px !important
        }

        .icon_for_mobile1 {
            width: 30px;
            left: 170px !important
        }

        .icon_for_mobile2 {
            width: 30px;
            left: 250px !important
        }

    }

    .icon-container {
        display: flex;
        justify-content: space-between;

        a {
            flex: 1;
        }

    }

    img {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 1);
        border-radius: 100%;
        position: absolute;
        bottom: 20px;
        cursor: pointer;
        transition: 222ms;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.rotate {
    font-size: 90px;
    display: flex;
    transform: rotate(-90deg);
    margin: -50px;
    text-shadow: 3px 5px rgb(0, 0, 0, 0.5) !important;

    @media screen and (max-width: $media-query-w1750) {
        font-size: 60px;
        margin: 0px;
    }

    @media screen and (max-width: 850px) {
        font-size: 45px;
        text-shadow: 1px 2px rgb(0, 0, 0, 0.5) !important;
    }

    @media screen and (max-width: 700px) {
        font-size: 34px;
    }

    @media screen and (max-width: 500px) {
        font-size: 21px;
    }
}


.rotate_text {
    position: absolute;
    bottom: 96px;
    right: 42px;
    color: white;
    font-size: 30px;
    display: flex;
    transform: rotate(90deg);

    span {
        position: relative;
    }

    svg {
        width: 20px;
        transform: rotate(-90deg);
        position: absolute;
        top: 11px;
        display: flex;
        right: -34px;
        height: 24px;
    }

    @media screen and (max-width: 700px) {
        font-size: 26px;
        right: -5px;
    }

    @media screen and (max-width: 500px) {
        font-size: 18px;
        bottom: 62px;
        right: -28px;

        svg {
            top: 6px;
            right: -24px;
            height: 18px;
        }
    }
}


.color-profession {
    color: $color-purple2;
    font-size: 67px;
    text-shadow: 2px -2px rgba(0, 0, 0, 1) !important;

    @media screen and (max-width: $media-query-w1750) {
        font-size: 40px;
    }

    @media screen and (max-width: 850px) {
        font-size: 30px;
    }

    @media screen and (max-width: 700px) {
        font-size: 24px;
        text-shadow: 1px -1px rgba(0, 0, 0, 1) !important;
    }

    @media screen and (max-width: 500px) {
        font-size: 15px;
    }
}


.long_blue_line {
    bottom: 30px !important;
    border-radius: 20px !important;
    left: 0;
    transform: scale(1) !important;
    box-shadow: -4px 1px 1px 0px rgba(0, 0, 0, 0.21) !important;

    &:hover {
        cursor: auto !important;
    }
}


.slide-in-right {
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.slide-in-bottom {
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.slide-in-elliptic-top-fwd {
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}


@keyframes slide-in-elliptic-top-fwd {
    0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}


@keyframes wave {
    50% {
        fill: $color-purple2;
        color: $color-purple2;

    }
}


.wave span,
path {
    animation: wave 5s infinite;
    animation-delay: calc(var(--i) * 0.1s);
}